<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Guna.UI2.WinForms" version="2.0.1.7" targetFramework="net461" />
  <package id="MaterialDesignColors" version="2.0.1" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="4.1.0" targetFramework="net461" />
  <package id="MaterialIcons" version="1.0.3" targetFramework="net461" />
  <package id="MetroFramework.RunTime" version="1.2.0.3" targetFramework="net461" />
</packages>